.App {
  height: 100vh;
  /* padding: 30px; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.App > div {
  box-sizing: border-box;
  border: solid 1px;
  border-radius: 20px;
  padding: 20px;
}

.error {
  border: red 1px solid;
}

.error-messege {
  color: red;
}

.active-filter {
  background-color: aquamarine;
}

.is-done {
  opacity: 0.5;
}

.todolist-title-container {
  display: flex;
  align-items: center;
}